<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.CiscoGuys.Teamout"
        versionCode="10" 
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>Teamout</name>

    <description>
        Welcome to Teamout! This is a HTML5 mobile app that makes organizing team luncheons easy and fun.
    </description>

    <author href="https://build.phonegap.com" email="mchamour@cisco.com">
        Sam Huang
        Michael Chamoures
    </author>
    
    
    <!-- Define app icon for each platform. -->
    <icon src="img/ios7/icon.png" />
    <icon src="img/android/drawable-ldpi/ic_launcher.png"   gap:platform="android"    gap:density="ldpi" />
    <icon src="img/android/drawable-mdpi/ic_launcher.png"   gap:platform="android"    gap:density="mdpi" />
    <icon src="img/android/drawable-hdpi/ic_launcher.png"   gap:platform="android"    gap:density="hdpi" />
    <icon src="img/android/drawable-xhdpi/ic_launcher.png"  gap:platform="android"    gap:density="xhdpi" />

    <icon src="img/ios7/icon-60.png"            gap:platform="ios"        width="60" height="60" />
    <icon src="img/ios7/icon-72.png"            gap:platform="ios"        width="72" height="72" />
    <icon src="img/ios7/icon-60@2x.png"         gap:platform="ios"        width="120" height="120" />
    <icon src="img/ios7/icon-72@2x.png"         gap:platform="ios"        width="144" height="144" />

    <!-- Define app splash screen for each platform. -->
    <gap:splash src="img/android/playstore-icon.png"  gap:platform="android" gap:density="ldpi" />
    <gap:splash src="img/android/playstore-icon.png"  gap:platform="android" gap:density="mdpi" />
    <gap:splash src="img/android/playstore-icon.png"  gap:platform="android" gap:density="hdpi" />
    <gap:splash src="img/android/playstore-icon.png" gap:platform="android" gap:density="xhdpi" />
    <gap:splash src="img/ios7/iTunesArtwork.png"    gap:platform="ios"     width="320" height="480" />
    <gap:splash src="img/ios7/iTunesArtwork.png@x2" gap:platform="ios"     width="640" height="960" />


</widget>
